<div id="about" class="container my-5 py-5 d-flex position-relative">

  <div class="row w-100 position-relative ">
    <div class="col-lg-6 text-center text-lg-start mx-auto">
      <p class="text-success fw-bold fs-4">WHO AM I?</p>
      <p class="text-light fs-6">
        {{personalData.description}}
      </p>
    </div>


    <div class="col-lg-6 text-center mx-auto">
      <img [src]="personalData.profile" width="300" height="300" alt="Nanditha" class="rounded shadow-lg img-fluid">
    </div>

    <div class="d-none d-lg-flex flex-column align-items-end position-absolute top-50 end-0" style="top: 4rem; right: -2rem;">
      <span class="bg-custom text-light px-4 py-2 rounded rotate-text">ABOUT ME</span>
      <!-- <span class="bg-custom" style="height: 9rem; width: 2px;"></span> -->
    </div>
  </div>

</div>


<!-- <div class="container py-5 text-light position-relative">
  <div class="row align-items-center">
      <div class="col-md-7">
          <h3 class="text-success fw-bold">WHO I AM?</h3>
          <p class="text-light">
              My name is <strong>PETER ADEL</strong>, and I am a passionate and dedicated computer
              science student with a strong focus on Python programming and Data Analysis.
              I am a quick learner with a self-driven attitude, constantly exploring new
              technologies and sharpening my skills. My passion lies in problem-solving and
              uncovering insights from data to drive informed decisions. I specialize in
              data analysis and visualization using tools like Power BI, Pandas, and Matplotlib,
              combined with statistical techniques to deliver impactful solutions.
          </p>
          <p class="text-light">
              While I enjoy working with various technologies, Python is at the core of my
              expertise, and I strive to leverage it to its full potential. I am eager to
              collaborate on projects that challenge my abilities and help me grow professionally.
              If you are looking for a committed and skillful individual to contribute to your team,
              I’m available for opportunities that align with my interests and expertise.
          </p>
      </div>
      <div class="col-md-5 text-center">
          <img src="assets/images/profile.jpg" class="img-fluid rounded shadow-lg" alt="Peter Adel">
      </div>
  </div>
  <div class="position-absolute about-me-tag">
      <span class="rotate-text">ABOUT ME</span>
  </div>
</div>
 -->

