<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <app-navbar></app-navbar>
      <div id="about">
        <app-about></app-about>
      </div>
      <div id="skills">
        <app-skills></app-skills>
      </div>
      <div id="education">
        <app-education></app-education>
      </div>
      <div id="projects">
        <app-experience></app-experience>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
<app-footer></app-footer>
