<!-- <p>skills works!</p> -->
<section id="skills" class="position-relative border-top my-5 my-lg-5 border-dark">
  <!-- Blurred Background Circle -->
  <!-- <div class="position-absolute top-0 start-50 translate-middle-x bg-light rounded-circle opacity-25 blur" style="width: 100px; height: 100px;"></div> -->
  <div class="position-absolute top-0 start-50 translate-middle-x bg-light rounded-circle opacity-25" style="width: 100px; height: 85px; filter: blur(15px); box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);"></div>

  <!-- Gradient Line -->
  <div class="d-flex justify-content-center border-gradient">
    <div>
      <div class="w-200 border-top"></div>
    </div>
  </div>

  <!-- Skills Title -->
  <div class="d-flex justify-content-center my-3 py-lg-1">
    <div class="d-flex align-items-center">
      <span class="bg-light d-inline-block" style="width: 100px; height: 2px;"></span>
      <span class="bg-custom px-4 py-2 text-light text-xl rounded">SKILLS</span>
      <span class="bg-light d-inline-block" style="width: 100px; height: 2px;"></span>
    </div>

    <!-- <div class="position-relative text-center">
      <hr class="border-0 bg-gradient w-100" style="height: 2px; background: linear-gradient(to right, transparent, #6f42c1, transparent);">
      <span class="position-absolute start-50 translate-middle bg-dark text-white px-4 py-2 rounded-pill">
        Skills
      </span>
    </div> -->

  </div>

  <!-- Skills Marquee -->
  <div class="w-100 my-5">
    <marquee behavior="scroll" direction="left" scrollamount="8" onmouseover="this.stop();" onmouseout="this.start();">
      <div class="d-inline-flex">
        <div *ngFor="let skill of skillsData; let id = index" class="card text-center m-2 p-2 shadow-sm hover-scale">
          <div class="border border-light bg-custom rounded p-4 transition">
            <img [src]="skill.icon" alt="{{skill.code}}" class="rounded mb-2" width="50" height="50">
            <!-- <mat-icon class="rounded mb-2" color="white" width="50" height="50">{{skill.icon}}</mat-icon> -->
            <p class="text-light">{{skill.code}}</p>
          </div>
        </div>
      </div>
    </marquee>
  </div>
</section>
