

<div class="d-flex justify-content-center my-4 py-3">
  <div class="d-flex align-items-center">
      <span class="d-inline-block w-25" style="height: 2px; background-color: #1a1443;"></span>
      <span class="bg-custom text-white py-2 px-4 text-uppercase rounded">Projects</span>
      <span class="d-inline-block w-25" style="height: 2px; background-color: #1a1443;"></span>
  </div>
</div>




<div class="projects-container">
  <div class="project-grid">
    <div
      class="project-card"
      *ngFor="let project of projects"
      [ngStyle]="{'background-image': 'url(' + project.image + ')'}"
    >
      <div class="card-content">
        <h5 class="card-title">{{ project.title }}</h5>
        <p class="card-text">{{ project.description }}</p>
        <a
          [href]="project.link"
          class="btn btn-primary"
          target="_blank"
        >
          View Project
        </a>
      </div>
    </div>
  </div>
</div>
